*{
    background-color: rgb(239, 239, 232);
}




img {
    
    border-radius: 100%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 500px;
}


.button {
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;

}

#date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 110px;
    border-radius: 30px;
    width: 400px;
}

.hour {
    display:flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 200px;
    background-color: rgb(4, 61, 61);
}